<div class="ui top fixed menu">
  <div class="item">
    <img class="fixed-menu-icon" src="/images/hal.png">
  </div>
  <div class="item">HAL</div>

  <div class="right menu">
    <div class="item">
      <div class="ui primary button" {{action 'logout'}}>Logout</div>
    </div>
  </div>
</div>
<div class="fixed-menu-content">
  {{outlet}}
</div>
